<h1>CENTRO MEDICO VETERINARIO BACKEND</h1>
<h2>LISTADO DE MASCOTAS</h2>
<table border="1">
    <thead>
        <tr>
            <th>Nombre de la mascota</th>
            <th>Nombre del dueño</th>
            <th>Cédula del dueño</th>
            <th>Edad de la mascota</th>
            <th>Teléfono del dueño</th>
            <th >Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each mascotas}}
        <tr>
            <form action="/mascotas/actualizar/{{cedula_duenio}}" method="post">
                <td><input type="text" id="mascota" name="mascota" value="{{nombre}}" {{#ifCond @key '!='
                        ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" id="duenio" name="duenio" value="{{nombre_duenio}}" {{#ifCond @key '!='
                        ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" value="{{cedula_duenio}}" disabled></td>
                <td><input type="text" id="edad" name="edad" value="{{edad}}" {{#ifCond @key '!='
                        ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="tel" id="telefono" name="telefono" value="{{telefono_duenio}}" {{#ifCond @key '!='
                        ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td  >
                    <div class="botones">
                    {{#if ../estado}}
                    <a href="/mascotas/enviar/{{@key}}" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Editar"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                    <a href="/mascotas/eliminar/{{cedula_duenio}}" class="cancelar iconos" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Elminar"><i class="fa fa-times"></i></a>
                {{else}}
                {{#ifCond @key '==' ../claveSeleccionada}}
                <button type="submit" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Enviar" data-bs-custom-class="custom-popover"><i class="fa fa-check" ></i></button>
                <a href="/mascotas" class="cancelar iconos" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Cancelar"><i class="fa fa-times"></i></a>
                {{/ifCond}}
                {{/if}}
                    </div>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="volver" href="/">Volver</a>
<a href="mascotas/agregar-mascota">Agregar mascota</a>